@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'style.css';

/* Ajoutez ce style dans votre fichier CSS (si vous en utilisez un) */
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loader {
    animation: spin 1s linear infinite;
    border-color: #C12DC0 transparent #C12DC0 transparent;
  }
  